#thesqr td {
    border-style: solid;
    border-width: bold;
    text-align: center;
    width: 10%;
    height: 10%;
    font-style: bold;
    font-size: 6.0em;
}

#thesqr {
    width: 34%;
    margin-left: 33%;
}

#sum {
    font-weight: bold;
}